html, body, main {
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    overflow: hidden;
  }

  body {
    margin: 0;
    padding: 0;
    background: #111;
    color: #eee;
    font: caption;
    display: flex;
    flex-direction: column;
  }
  
  canvas {
    /* And see postBoot() in JS */
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* <https://caniuse.com/#feat=object-fit> */
  }
  
  #version {
    position: absolute;
    left: 5px;
    top: 605px;
  }